.category-group {
	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.category-card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 16px;
}
.category-card-title {
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ab6433;
}
.category-card-img {
	display: inline-block;
	width: 250px;
	height: 250px;
	object-fit: cover;
	padding: 0;
	margin: 0;
}
.category-card-info {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding: 0 8px;
}
.category-card-desc {
	text-align: start;
}
